{% extends 'base.html' %}
{% load thumbnail %}


{% block title %}
  Это главная страница проекта Yatube
{% endblock %}


{% block content %}
<div class="information-text information-text_margin_bottom">
  <h1 class="information-text__title">
    Все посты
  {% if username %}
    автора {{ username }}
  {% endif %}
  </h1>
</div>

{% include 'includes/switcher.html' %}

{% if user.is_authenticated %}
  {% with request.resolver_match.view_name as current_url %}
  <div class="row my-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a 
          class="nav-link {% if current_url == 'posts:follow_index' %}active{% endif %}"
          href="{% url 'posts:follow_index' %}"
        >
          Все посты
        </a>
      </li>

      {% for author in authors %}
        <li class="nav-item">
          <a 
            class="nav-link {% if current_url == 'posts:follow_author' %}active{% endif %}"
            href="{% url 'posts:follow_author' author %}"
          >
            {{ author }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endwith %} 
{% endif %}

<div class="posts">
  <ul class="posts__list">
    {% for post in page_obj %}
      <li class="posts__item">
        <article class="card-post">

          {% include 'includes/posts.html' %}

          <div class="row mt-5">
            {% include 'includes/buttons/detail_link.html' %}

            {% if post.group %}
              {% include 'includes/buttons/group_link.html' %}
            {% endif %}
          </div>
        </article>
      </li>
    {% empty %}
      <p>Пока нет записей.</p>
    {% endfor %}
  </ul>
</div>
{% endblock %}
