{% extends 'base.html' %}


{% block title %}
  Записи сообщества {{ group.title }}
{% endblock %} 


{% block content %}
<div class="information-text information-text_margin_bottom">
  <h1 class="information-text__title">
    {{ group.title }}
  </h1>

  <p class="information-text__description">
    {{ group.description }}
  </p>
</div>

<div class="posts">
  <ul class="posts__list">
    {% for post in page_obj %}
      <li class="posts__item">
        <article class="card-post">
          {% include 'includes/posts.html' %}

          {% include 'includes/buttons/detail_link.html' %}
        </article>
      </li>
    {% empty %}
      <p>В этой категории нет записей.</p>
    {% endfor %}
  </ul>
</div>

{% include 'includes/paginator.html' %}
{% endblock %}
