{% extends "base.html" %}


{% block title %}
  Сброс пароля прошёл успешно
{% endblock %}


{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <article class='mb-3'
      style="
        border: 1px solid #F5F5F5; 
        border-radius: 5px; padding: 30px
      "
    >
      <h1 style="color: #121212" class="fs-4 mb-4">
        Отправлено письмо
      </h1>

      <p style="color: #6E6E6E">
        Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля
      </p>
    </article>
  </div> 
  <!-- col -->
</div> 
<!-- row -->
{% endblock %} 
